.ql-toolbar {
    overflow: visible; /* 툴바가 자동으로 감싸지게 설정 */
    /* white-space: nowrap; */ /* 메뉴가 한 줄에 있게 설정 */
    /* z-index: 100000; */ /* 필요 시 우선순위 설정 */
}

.ql-container {
    max-width: 100%; /* 에디터 컨테이너가 화면을 넘지 않도록 설정 */
}

.ql-editor {
    height: 400px;
    overflow-y: auto; /* 에디터 내용이 많으면 스크롤되도록 설정 */
}

.ql-editor::-webkit-scrollbar {
    width: 8px;
}

.ql-editor::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.ql-editor::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.ql-editor::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.ql-editor ol {
    list-style-type: decimal; /* 1, 2, 3... */
    margin-left: 20px;
}

/* Bulleted (unordered) list styling */
.ql-editor ul {
    list-style-type: disc; /* • */
    margin-left: 20px;
}
